# Recursuve ignorance
__pycache__/
wandb/
.neptune/
old/

# Ignore model weights and pickle files
*.pt
*.pkl

# Ignore all files in DATA except for .txt files and quantization_data
DATA/*
!DATA/*.txt
!DATA/quantization_data/
!DATA/quantization_data/**
Training/cachers/scripts/*

# Ignore all notebooks except the ones in the notebooks folder
*.ipynb
!/notebooks//*.ipynb