# Recursuve ignorance
__pycache__/
wandb/

# Ignore model weights and pickle files
*.pt
*.pkl

# Ignore all files in DATA except for README.md and cifar_reference.pkl
/DATA/*
!/DATA/README.md


# Ignore all notebooks except the ones in the notebooks folder
*.ipynb
!/notebooks//*.ipynb